<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateSuperviseurTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateSuperviseurLabel_identifiant}" for="identifiant" />
                    <h:inputText id="identifiant" value="#{superviseurController.selected.identifiant}" title="#{bundle.CreateSuperviseurTitle_identifiant}" required="true" requiredMessage="#{bundle.CreateSuperviseurRequiredMessage_identifiant}"/>
                    <h:outputLabel value="#{bundle.CreateSuperviseurLabel_departement}" for="departement" />
                    <h:selectOneMenu id="departement" value="#{superviseurController.selected.departement}" title="#{bundle.CreateSuperviseurTitle_departement}" required="true" requiredMessage="#{bundle.CreateSuperviseurRequiredMessage_departement}">
                        <f:selectItems value="#{departementController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreateSuperviseurLabel_prenom}" for="prenom" />
                    <h:inputText id="prenom" value="#{superviseurController.selected.prenom}" title="#{bundle.CreateSuperviseurTitle_prenom}" required="true" requiredMessage="#{bundle.CreateSuperviseurRequiredMessage_prenom}"/>
                    <h:outputLabel value="#{bundle.CreateSuperviseurLabel_nom}" for="nom" />
                    <h:inputText id="nom" value="#{superviseurController.selected.nom}" title="#{bundle.CreateSuperviseurTitle_nom}" required="true" requiredMessage="#{bundle.CreateSuperviseurRequiredMessage_nom}"/>
                    <h:outputLabel value="#{bundle.CreateSuperviseurLabel_datenaissance}" for="datenaissance" />
                    <h:inputText id="datenaissance" value="#{superviseurController.selected.datenaissance}" title="#{bundle.CreateSuperviseurTitle_datenaissance}" >
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateSuperviseurLabel_email}" for="email" />
                    <h:inputText id="email" value="#{superviseurController.selected.email}" title="#{bundle.CreateSuperviseurTitle_email}" required="true" requiredMessage="#{bundle.CreateSuperviseurRequiredMessage_email}"/>
                    <h:outputLabel value="#{bundle.CreateSuperviseurLabel_password}" for="password" />
                    <h:inputText id="password" value="#{superviseurController.selected.password}" title="#{bundle.CreateSuperviseurTitle_password}" required="true" requiredMessage="#{bundle.CreateSuperviseurRequiredMessage_password}"/>
                    <h:outputLabel value="#{bundle.CreateSuperviseurLabel_adresse}" for="adresse" />
                    <h:inputTextarea rows="4" cols="30" id="adresse" value="#{superviseurController.selected.adresse}" title="#{bundle.CreateSuperviseurTitle_adresse}" required="true" requiredMessage="#{bundle.CreateSuperviseurRequiredMessage_adresse}"/>
                    <h:outputLabel value="#{bundle.CreateSuperviseurLabel_telephone}" for="telephone" />
                    <h:inputText id="telephone" value="#{superviseurController.selected.telephone}" title="#{bundle.CreateSuperviseurTitle_telephone}" required="true" requiredMessage="#{bundle.CreateSuperviseurRequiredMessage_telephone}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{superviseurController.create}" value="#{bundle.CreateSuperviseurSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{superviseurController.prepareList}" value="#{bundle.CreateSuperviseurShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateSuperviseurIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
