<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListSuperviseurTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListSuperviseurEmpty}" rendered="#{superviseurController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{superviseurController.items.rowCount > 0}">
                    <h:outputText value="#{superviseurController.pagination.pageFirstItem + 1}..#{superviseurController.pagination.pageLastItem + 1}/#{superviseurController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{superviseurController.previous}" value="#{bundle.Previous} #{superviseurController.pagination.pageSize}" rendered="#{superviseurController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{superviseurController.next}" value="#{bundle.Next} #{superviseurController.pagination.pageSize}" rendered="#{superviseurController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{superviseurController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSuperviseurTitle_identifiant}"/>
                            </f:facet>
                            <h:outputText value="#{item.identifiant}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSuperviseurTitle_departement}"/>
                            </f:facet>
                            <h:outputText value="#{item.departement}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSuperviseurTitle_prenom}"/>
                            </f:facet>
                            <h:outputText value="#{item.prenom}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSuperviseurTitle_nom}"/>
                            </f:facet>
                            <h:outputText value="#{item.nom}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSuperviseurTitle_datenaissance}"/>
                            </f:facet>
                            <h:outputText value="#{item.datenaissance}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSuperviseurTitle_email}"/>
                            </f:facet>
                            <h:outputText value="#{item.email}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSuperviseurTitle_password}"/>
                            </f:facet>
                            <h:outputText value="#{item.password}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSuperviseurTitle_adresse}"/>
                            </f:facet>
                            <h:outputText value="#{item.adresse}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSuperviseurTitle_telephone}"/>
                            </f:facet>
                            <h:outputText value="#{item.telephone}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{superviseurController.prepareView}" value="#{bundle.ListSuperviseurViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{superviseurController.prepareEdit}" value="#{bundle.ListSuperviseurEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{superviseurController.destroy}" value="#{bundle.ListSuperviseurDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{superviseurController.prepareCreate}" value="#{bundle.ListSuperviseurCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListSuperviseurIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
