<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateNoteTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateNoteLabel_identifiant}" for="identifiant" />
                    <h:inputText id="identifiant" value="#{noteController.selected.identifiant}" title="#{bundle.CreateNoteTitle_identifiant}" required="true" requiredMessage="#{bundle.CreateNoteRequiredMessage_identifiant}"/>
                    <h:outputLabel value="#{bundle.CreateNoteLabel_objet}" for="objet" />
                    <h:inputText id="objet" value="#{noteController.selected.objet}" title="#{bundle.CreateNoteTitle_objet}" required="true" requiredMessage="#{bundle.CreateNoteRequiredMessage_objet}"/>
                    <h:outputLabel value="#{bundle.CreateNoteLabel_contenu}" for="contenu" />
                    <h:inputTextarea rows="4" cols="30" id="contenu" value="#{noteController.selected.contenu}" title="#{bundle.CreateNoteTitle_contenu}" required="true" requiredMessage="#{bundle.CreateNoteRequiredMessage_contenu}"/>
                    <h:outputLabel value="#{bundle.CreateNoteLabel_datenote}" for="datenote" />
                    <h:inputText id="datenote" value="#{noteController.selected.datenote}" title="#{bundle.CreateNoteTitle_datenote}" required="true" requiredMessage="#{bundle.CreateNoteRequiredMessage_datenote}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateNoteLabel_superviseur}" for="superviseur" />
                    <h:selectOneMenu id="superviseur" value="#{noteController.selected.superviseur}" title="#{bundle.CreateNoteTitle_superviseur}" required="true" requiredMessage="#{bundle.CreateNoteRequiredMessage_superviseur}">
                        <f:selectItems value="#{superviseurController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{noteController.create}" value="#{bundle.CreateNoteSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{noteController.prepareList}" value="#{bundle.CreateNoteShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateNoteIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
