<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListNoteTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListNoteEmpty}" rendered="#{noteController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{noteController.items.rowCount > 0}">
                    <h:outputText value="#{noteController.pagination.pageFirstItem + 1}..#{noteController.pagination.pageLastItem + 1}/#{noteController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{noteController.previous}" value="#{bundle.Previous} #{noteController.pagination.pageSize}" rendered="#{noteController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{noteController.next}" value="#{bundle.Next} #{noteController.pagination.pageSize}" rendered="#{noteController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{noteController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListNoteTitle_identifiant}"/>
                            </f:facet>
                            <h:outputText value="#{item.identifiant}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListNoteTitle_objet}"/>
                            </f:facet>
                            <h:outputText value="#{item.objet}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListNoteTitle_contenu}"/>
                            </f:facet>
                            <h:outputText value="#{item.contenu}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListNoteTitle_datenote}"/>
                            </f:facet>
                            <h:outputText value="#{item.datenote}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListNoteTitle_superviseur}"/>
                            </f:facet>
                            <h:outputText value="#{item.superviseur}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{noteController.prepareView}" value="#{bundle.ListNoteViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{noteController.prepareEdit}" value="#{bundle.ListNoteEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{noteController.destroy}" value="#{bundle.ListNoteDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{noteController.prepareCreate}" value="#{bundle.ListNoteCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListNoteIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
