<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewNoteTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewNoteLabel_identifiant}"/>
                    <h:outputText value="#{noteController.selected.identifiant}" title="#{bundle.ViewNoteTitle_identifiant}"/>
                    <h:outputText value="#{bundle.ViewNoteLabel_objet}"/>
                    <h:outputText value="#{noteController.selected.objet}" title="#{bundle.ViewNoteTitle_objet}"/>
                    <h:outputText value="#{bundle.ViewNoteLabel_contenu}"/>
                    <h:outputText value="#{noteController.selected.contenu}" title="#{bundle.ViewNoteTitle_contenu}"/>
                    <h:outputText value="#{bundle.ViewNoteLabel_datenote}"/>
                    <h:outputText value="#{noteController.selected.datenote}" title="#{bundle.ViewNoteTitle_datenote}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewNoteLabel_superviseur}"/>
                    <h:outputText value="#{noteController.selected.superviseur}" title="#{bundle.ViewNoteTitle_superviseur}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{noteController.destroyAndView}" value="#{bundle.ViewNoteDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewNoteEditLink}"/>
                <br />
                <h:commandLink action="#{noteController.prepareCreate}" value="#{bundle.ViewNoteCreateLink}" />
                <br />
                <h:commandLink action="#{noteController.prepareList}" value="#{bundle.ViewNoteShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewNoteIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
