<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreatePersonnelTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreatePersonnelLabel_prenom}" for="prenom" />
                    <h:inputText id="prenom" value="#{personnelController.selected.prenom}" title="#{bundle.CreatePersonnelTitle_prenom}" required="true" requiredMessage="#{bundle.CreatePersonnelRequiredMessage_prenom}"/>
                    <h:outputLabel value="#{bundle.CreatePersonnelLabel_nom}" for="nom" />
                    <h:inputText id="nom" value="#{personnelController.selected.nom}" title="#{bundle.CreatePersonnelTitle_nom}" required="true" requiredMessage="#{bundle.CreatePersonnelRequiredMessage_nom}"/>
                    <h:outputLabel value="#{bundle.CreatePersonnelLabel_datenaissance}" for="datenaissance" />
                    <h:inputText id="datenaissance" value="#{personnelController.selected.datenaissance}" title="#{bundle.CreatePersonnelTitle_datenaissance}" required="true" requiredMessage="#{bundle.CreatePersonnelRequiredMessage_datenaissance}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreatePersonnelLabel_email}" for="email" />
                    <h:inputTextarea rows="4" cols="30" id="email" value="#{personnelController.selected.email}" title="#{bundle.CreatePersonnelTitle_email}" required="true" requiredMessage="#{bundle.CreatePersonnelRequiredMessage_email}"/>
                    <h:outputLabel value="#{bundle.CreatePersonnelLabel_adresse}" for="adresse" />
                    <h:inputTextarea rows="4" cols="30" id="adresse" value="#{personnelController.selected.adresse}" title="#{bundle.CreatePersonnelTitle_adresse}" required="true" requiredMessage="#{bundle.CreatePersonnelRequiredMessage_adresse}"/>
                    <h:outputLabel value="#{bundle.CreatePersonnelLabel_telephone}" for="telephone" />
                    <h:inputText id="telephone" value="#{personnelController.selected.telephone}" title="#{bundle.CreatePersonnelTitle_telephone}" required="true" requiredMessage="#{bundle.CreatePersonnelRequiredMessage_telephone}"/>
                    <h:outputLabel value="#{bundle.CreatePersonnelLabel_employe}" for="employe" />
                    <h:selectOneMenu id="employe" value="#{personnelController.selected.employe}" title="#{bundle.CreatePersonnelTitle_employe}" required="true" requiredMessage="#{bundle.CreatePersonnelRequiredMessage_employe}">
                        <f:selectItems value="#{employeController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreatePersonnelLabel_superviseur}" for="superviseur" />
                    <h:selectOneMenu id="superviseur" value="#{personnelController.selected.superviseur}" title="#{bundle.CreatePersonnelTitle_superviseur}" required="true" requiredMessage="#{bundle.CreatePersonnelRequiredMessage_superviseur}">
                        <f:selectItems value="#{superviseurController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreatePersonnelLabel_password}" for="password" />
                    <h:inputText id="password" value="#{personnelController.selected.password}" title="#{bundle.CreatePersonnelTitle_password}" required="true" requiredMessage="#{bundle.CreatePersonnelRequiredMessage_password}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{personnelController.create}" value="#{bundle.CreatePersonnelSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{personnelController.prepareList}" value="#{bundle.CreatePersonnelShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreatePersonnelIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
