<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListPersonnelTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListPersonnelEmpty}" rendered="#{personnelController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{personnelController.items.rowCount > 0}">
                    <h:outputText value="#{personnelController.pagination.pageFirstItem + 1}..#{personnelController.pagination.pageLastItem + 1}/#{personnelController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{personnelController.previous}" value="#{bundle.Previous} #{personnelController.pagination.pageSize}" rendered="#{personnelController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{personnelController.next}" value="#{bundle.Next} #{personnelController.pagination.pageSize}" rendered="#{personnelController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{personnelController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPersonnelTitle_prenom}"/>
                            </f:facet>
                            <h:outputText value="#{item.prenom}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPersonnelTitle_nom}"/>
                            </f:facet>
                            <h:outputText value="#{item.nom}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPersonnelTitle_datenaissance}"/>
                            </f:facet>
                            <h:outputText value="#{item.datenaissance}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPersonnelTitle_email}"/>
                            </f:facet>
                            <h:outputText value="#{item.email}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPersonnelTitle_adresse}"/>
                            </f:facet>
                            <h:outputText value="#{item.adresse}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPersonnelTitle_telephone}"/>
                            </f:facet>
                            <h:outputText value="#{item.telephone}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPersonnelTitle_employe}"/>
                            </f:facet>
                            <h:outputText value="#{item.employe}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPersonnelTitle_superviseur}"/>
                            </f:facet>
                            <h:outputText value="#{item.superviseur}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPersonnelTitle_password}"/>
                            </f:facet>
                            <h:outputText value="#{item.password}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{personnelController.prepareView}" value="#{bundle.ListPersonnelViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{personnelController.prepareEdit}" value="#{bundle.ListPersonnelEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{personnelController.destroy}" value="#{bundle.ListPersonnelDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{personnelController.prepareCreate}" value="#{bundle.ListPersonnelCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListPersonnelIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
