<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateDepartementTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateDepartementLabel_identifiant}" for="identifiant" />
                    <h:inputText id="identifiant" value="#{departementController.selected.identifiant}" title="#{bundle.CreateDepartementTitle_identifiant}" required="true" requiredMessage="#{bundle.CreateDepartementRequiredMessage_identifiant}"/>
                    <h:outputLabel value="#{bundle.CreateDepartementLabel_nom}" for="nom" />
                    <h:inputText id="nom" value="#{departementController.selected.nom}" title="#{bundle.CreateDepartementTitle_nom}" required="true" requiredMessage="#{bundle.CreateDepartementRequiredMessage_nom}"/>
                    <h:outputLabel value="#{bundle.CreateDepartementLabel_adresse}" for="adresse" />
                    <h:inputTextarea rows="4" cols="30" id="adresse" value="#{departementController.selected.adresse}" title="#{bundle.CreateDepartementTitle_adresse}" required="true" requiredMessage="#{bundle.CreateDepartementRequiredMessage_adresse}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{departementController.create}" value="#{bundle.CreateDepartementSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{departementController.prepareList}" value="#{bundle.CreateDepartementShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateDepartementIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
