<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateCongeTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateCongeLabel_identifiant}" for="identifiant" />
                    <h:inputText id="identifiant" value="#{congeController.selected.identifiant}" title="#{bundle.CreateCongeTitle_identifiant}" required="true" requiredMessage="#{bundle.CreateCongeRequiredMessage_identifiant}"/>
                    <h:outputLabel value="#{bundle.CreateCongeLabel_debut}" for="debut" />
                    <h:inputText id="debut" value="#{congeController.selected.debut}" title="#{bundle.CreateCongeTitle_debut}" required="true" requiredMessage="#{bundle.CreateCongeRequiredMessage_debut}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateCongeLabel_fin}" for="fin" />
                    <h:inputText id="fin" value="#{congeController.selected.fin}" title="#{bundle.CreateCongeTitle_fin}" required="true" requiredMessage="#{bundle.CreateCongeRequiredMessage_fin}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateCongeLabel_statut}" for="statut" />
                    <h:inputText id="statut" value="#{congeController.selected.statut}" title="#{bundle.CreateCongeTitle_statut}" required="true" requiredMessage="#{bundle.CreateCongeRequiredMessage_statut}"/>
                    <h:outputLabel value="#{bundle.CreateCongeLabel_employe}" for="employe" />
                    <h:inputText id="employe" value="#{congeController.selected.employe}" title="#{bundle.CreateCongeTitle_employe}" required="true" requiredMessage="#{bundle.CreateCongeRequiredMessage_employe}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{congeController.create}" value="#{bundle.CreateCongeSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{congeController.prepareList}" value="#{bundle.CreateCongeShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateCongeIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
