<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditCongeTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditCongeLabel_identifiant}" for="identifiant" />
                    <h:inputText id="identifiant" value="#{congeController.selected.identifiant}" title="#{bundle.EditCongeTitle_identifiant}" required="true" requiredMessage="#{bundle.EditCongeRequiredMessage_identifiant}"/>
                    <h:outputLabel value="#{bundle.EditCongeLabel_debut}" for="debut" />
                    <h:inputText id="debut" value="#{congeController.selected.debut}" title="#{bundle.EditCongeTitle_debut}" required="true" requiredMessage="#{bundle.EditCongeRequiredMessage_debut}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditCongeLabel_fin}" for="fin" />
                    <h:inputText id="fin" value="#{congeController.selected.fin}" title="#{bundle.EditCongeTitle_fin}" required="true" requiredMessage="#{bundle.EditCongeRequiredMessage_fin}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditCongeLabel_statut}" for="statut" />
                    <h:inputText id="statut" value="#{congeController.selected.statut}" title="#{bundle.EditCongeTitle_statut}" required="true" requiredMessage="#{bundle.EditCongeRequiredMessage_statut}"/>
                    <h:outputLabel value="#{bundle.EditCongeLabel_employe}" for="employe" />
                    <h:inputText id="employe" value="#{congeController.selected.employe}" title="#{bundle.EditCongeTitle_employe}" required="true" requiredMessage="#{bundle.EditCongeRequiredMessage_employe}"/>
                </h:panelGrid>
                <h:commandLink action="#{congeController.update}" value="#{bundle.EditCongeSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditCongeViewLink}"/>
                <br />
                <h:commandLink action="#{congeController.prepareList}" value="#{bundle.EditCongeShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditCongeIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
