<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListCongeTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListCongeEmpty}" rendered="#{congeController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{congeController.items.rowCount > 0}">
                    <h:outputText value="#{congeController.pagination.pageFirstItem + 1}..#{congeController.pagination.pageLastItem + 1}/#{congeController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{congeController.previous}" value="#{bundle.Previous} #{congeController.pagination.pageSize}" rendered="#{congeController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{congeController.next}" value="#{bundle.Next} #{congeController.pagination.pageSize}" rendered="#{congeController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{congeController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCongeTitle_identifiant}"/>
                            </f:facet>
                            <h:outputText value="#{item.identifiant}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCongeTitle_debut}"/>
                            </f:facet>
                            <h:outputText value="#{item.debut}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCongeTitle_fin}"/>
                            </f:facet>
                            <h:outputText value="#{item.fin}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCongeTitle_statut}"/>
                            </f:facet>
                            <h:outputText value="#{item.statut}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCongeTitle_employe}"/>
                            </f:facet>
                            <h:outputText value="#{item.employe}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{congeController.prepareView}" value="#{bundle.ListCongeViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{congeController.prepareEdit}" value="#{bundle.ListCongeEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{congeController.destroy}" value="#{bundle.ListCongeDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{congeController.prepareCreate}" value="#{bundle.ListCongeCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListCongeIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
