<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewCongeTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewCongeLabel_identifiant}"/>
                    <h:outputText value="#{congeController.selected.identifiant}" title="#{bundle.ViewCongeTitle_identifiant}"/>
                    <h:outputText value="#{bundle.ViewCongeLabel_debut}"/>
                    <h:outputText value="#{congeController.selected.debut}" title="#{bundle.ViewCongeTitle_debut}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewCongeLabel_fin}"/>
                    <h:outputText value="#{congeController.selected.fin}" title="#{bundle.ViewCongeTitle_fin}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewCongeLabel_statut}"/>
                    <h:outputText value="#{congeController.selected.statut}" title="#{bundle.ViewCongeTitle_statut}"/>
                    <h:outputText value="#{bundle.ViewCongeLabel_employe}"/>
                    <h:outputText value="#{congeController.selected.employe}" title="#{bundle.ViewCongeTitle_employe}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{congeController.destroyAndView}" value="#{bundle.ViewCongeDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewCongeEditLink}"/>
                <br />
                <h:commandLink action="#{congeController.prepareCreate}" value="#{bundle.ViewCongeCreateLink}" />
                <br />
                <h:commandLink action="#{congeController.prepareList}" value="#{bundle.ViewCongeShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewCongeIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
