<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditFormationTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditFormationLabel_identifiant}" for="identifiant" />
                    <h:inputText id="identifiant" value="#{formationController.selected.identifiant}" title="#{bundle.EditFormationTitle_identifiant}" required="true" requiredMessage="#{bundle.EditFormationRequiredMessage_identifiant}"/>
                    <h:outputLabel value="#{bundle.EditFormationLabel_description}" for="description" />
                    <h:inputTextarea rows="4" cols="30" id="description" value="#{formationController.selected.description}" title="#{bundle.EditFormationTitle_description}" required="true" requiredMessage="#{bundle.EditFormationRequiredMessage_description}"/>
                    <h:outputLabel value="#{bundle.EditFormationLabel_statut}" for="statut" />
                    <h:inputText id="statut" value="#{formationController.selected.statut}" title="#{bundle.EditFormationTitle_statut}" required="true" requiredMessage="#{bundle.EditFormationRequiredMessage_statut}"/>
                    <h:outputLabel value="#{bundle.EditFormationLabel_employe}" for="employe" />
                    <h:selectOneMenu id="employe" value="#{formationController.selected.employe}" title="#{bundle.EditFormationTitle_employe}" required="true" requiredMessage="#{bundle.EditFormationRequiredMessage_employe}">
                        <f:selectItems value="#{employeController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{formationController.update}" value="#{bundle.EditFormationSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditFormationViewLink}"/>
                <br />
                <h:commandLink action="#{formationController.prepareList}" value="#{bundle.EditFormationShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditFormationIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
