<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewFormationTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewFormationLabel_identifiant}"/>
                    <h:outputText value="#{formationController.selected.identifiant}" title="#{bundle.ViewFormationTitle_identifiant}"/>
                    <h:outputText value="#{bundle.ViewFormationLabel_description}"/>
                    <h:outputText value="#{formationController.selected.description}" title="#{bundle.ViewFormationTitle_description}"/>
                    <h:outputText value="#{bundle.ViewFormationLabel_statut}"/>
                    <h:outputText value="#{formationController.selected.statut}" title="#{bundle.ViewFormationTitle_statut}"/>
                    <h:outputText value="#{bundle.ViewFormationLabel_employe}"/>
                    <h:outputText value="#{formationController.selected.employe}" title="#{bundle.ViewFormationTitle_employe}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{formationController.destroyAndView}" value="#{bundle.ViewFormationDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewFormationEditLink}"/>
                <br />
                <h:commandLink action="#{formationController.prepareCreate}" value="#{bundle.ViewFormationCreateLink}" />
                <br />
                <h:commandLink action="#{formationController.prepareList}" value="#{bundle.ViewFormationShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewFormationIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
