<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditPosteTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditPosteLabel_identifiant}" for="identifiant" />
                    <h:inputText id="identifiant" value="#{posteController.selected.identifiant}" title="#{bundle.EditPosteTitle_identifiant}" required="true" requiredMessage="#{bundle.EditPosteRequiredMessage_identifiant}"/>
                    <h:outputLabel value="#{bundle.EditPosteLabel_titre}" for="titre" />
                    <h:inputText id="titre" value="#{posteController.selected.titre}" title="#{bundle.EditPosteTitle_titre}" required="true" requiredMessage="#{bundle.EditPosteRequiredMessage_titre}"/>
                    <h:outputLabel value="#{bundle.EditPosteLabel_description}" for="description" />
                    <h:inputTextarea rows="4" cols="30" id="description" value="#{posteController.selected.description}" title="#{bundle.EditPosteTitle_description}" required="true" requiredMessage="#{bundle.EditPosteRequiredMessage_description}"/>
                </h:panelGrid>
                <h:commandLink action="#{posteController.update}" value="#{bundle.EditPosteSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditPosteViewLink}"/>
                <br />
                <h:commandLink action="#{posteController.prepareList}" value="#{bundle.EditPosteShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditPosteIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
