<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewBanqueTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewBanqueLabel_matriculeBanque}"/>
                    <h:outputText value="#{banqueController.selected.matriculeBanque}" title="#{bundle.ViewBanqueTitle_matriculeBanque}"/>
                    <h:outputText value="#{bundle.ViewBanqueLabel_nom}"/>
                    <h:outputText value="#{banqueController.selected.nom}" title="#{bundle.ViewBanqueTitle_nom}"/>
                    <h:outputText value="#{bundle.ViewBanqueLabel_rib}"/>
                    <h:outputText value="#{banqueController.selected.rib}" title="#{bundle.ViewBanqueTitle_rib}"/>
                    <h:outputText value="#{bundle.ViewBanqueLabel_adresse}"/>
                    <h:outputText value="#{banqueController.selected.adresse}" title="#{bundle.ViewBanqueTitle_adresse}"/>
                    <h:outputText value="#{bundle.ViewBanqueLabel_ville}"/>
                    <h:outputText value="#{banqueController.selected.ville}" title="#{bundle.ViewBanqueTitle_ville}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{banqueController.destroyAndView}" value="#{bundle.ViewBanqueDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewBanqueEditLink}"/>
                <br />
                <h:commandLink action="#{banqueController.prepareCreate}" value="#{bundle.ViewBanqueCreateLink}" />
                <br />
                <h:commandLink action="#{banqueController.prepareList}" value="#{bundle.ViewBanqueShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewBanqueIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
