<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateDetailsPosteTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateDetailsPosteLabel_detailsPostePK_identifiant}" for="detailsPostePK_identifiant" />
                    <h:inputText id="detailsPostePK_identifiant" value="#{detailsPosteController.selected.detailsPostePK.identifiant}" title="#{bundle.CreateDetailsPosteTitle_detailsPostePK_identifiant}" required="true" requiredMessage="#{bundle.CreateDetailsPosteRequiredMessage_detailsPostePK_identifiant}"/>
                    <h:outputLabel value="#{bundle.CreateDetailsPosteLabel_dateDebut}" for="dateDebut" />
                    <h:inputText id="dateDebut" value="#{detailsPosteController.selected.dateDebut}" title="#{bundle.CreateDetailsPosteTitle_dateDebut}" required="true" requiredMessage="#{bundle.CreateDetailsPosteRequiredMessage_dateDebut}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateDetailsPosteLabel_dateFin}" for="dateFin" />
                    <h:inputText id="dateFin" value="#{detailsPosteController.selected.dateFin}" title="#{bundle.CreateDetailsPosteTitle_dateFin}" required="true" requiredMessage="#{bundle.CreateDetailsPosteRequiredMessage_dateFin}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateDetailsPosteLabel_coutHeureSup}" for="coutHeureSup" />
                    <h:inputText id="coutHeureSup" value="#{detailsPosteController.selected.coutHeureSup}" title="#{bundle.CreateDetailsPosteTitle_coutHeureSup}" required="true" requiredMessage="#{bundle.CreateDetailsPosteRequiredMessage_coutHeureSup}"/>
                    <h:outputLabel value="#{bundle.CreateDetailsPosteLabel_salaire}" for="salaire" />
                    <h:inputText id="salaire" value="#{detailsPosteController.selected.salaire}" title="#{bundle.CreateDetailsPosteTitle_salaire}" required="true" requiredMessage="#{bundle.CreateDetailsPosteRequiredMessage_salaire}"/>
                    <h:outputLabel value="#{bundle.CreateDetailsPosteLabel_congeConsomme}" for="congeConsomme" />
                    <h:inputText id="congeConsomme" value="#{detailsPosteController.selected.congeConsomme}" title="#{bundle.CreateDetailsPosteTitle_congeConsomme}" required="true" requiredMessage="#{bundle.CreateDetailsPosteRequiredMessage_congeConsomme}"/>
                    <h:outputLabel value="#{bundle.CreateDetailsPosteLabel_poste1}" for="poste1" />
                    <h:selectOneMenu id="poste1" value="#{detailsPosteController.selected.poste1}" title="#{bundle.CreateDetailsPosteTitle_poste1}" required="true" requiredMessage="#{bundle.CreateDetailsPosteRequiredMessage_poste1}">
                        <f:selectItems value="#{posteController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{detailsPosteController.create}" value="#{bundle.CreateDetailsPosteSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{detailsPosteController.prepareList}" value="#{bundle.CreateDetailsPosteShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateDetailsPosteIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
