<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListDetailsPosteTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListDetailsPosteEmpty}" rendered="#{detailsPosteController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{detailsPosteController.items.rowCount > 0}">
                    <h:outputText value="#{detailsPosteController.pagination.pageFirstItem + 1}..#{detailsPosteController.pagination.pageLastItem + 1}/#{detailsPosteController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{detailsPosteController.previous}" value="#{bundle.Previous} #{detailsPosteController.pagination.pageSize}" rendered="#{detailsPosteController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{detailsPosteController.next}" value="#{bundle.Next} #{detailsPosteController.pagination.pageSize}" rendered="#{detailsPosteController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{detailsPosteController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDetailsPosteTitle_detailsPostePK_identifiant}"/>
                            </f:facet>
                            <h:outputText value="#{item.detailsPostePK.identifiant}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDetailsPosteTitle_dateDebut}"/>
                            </f:facet>
                            <h:outputText value="#{item.dateDebut}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDetailsPosteTitle_dateFin}"/>
                            </f:facet>
                            <h:outputText value="#{item.dateFin}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDetailsPosteTitle_coutHeureSup}"/>
                            </f:facet>
                            <h:outputText value="#{item.coutHeureSup}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDetailsPosteTitle_salaire}"/>
                            </f:facet>
                            <h:outputText value="#{item.salaire}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDetailsPosteTitle_congeConsomme}"/>
                            </f:facet>
                            <h:outputText value="#{item.congeConsomme}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDetailsPosteTitle_poste1}"/>
                            </f:facet>
                            <h:outputText value="#{item.poste1}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{detailsPosteController.prepareView}" value="#{bundle.ListDetailsPosteViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{detailsPosteController.prepareEdit}" value="#{bundle.ListDetailsPosteEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{detailsPosteController.destroy}" value="#{bundle.ListDetailsPosteDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{detailsPosteController.prepareCreate}" value="#{bundle.ListDetailsPosteCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListDetailsPosteIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
