<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewDetailsPosteTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewDetailsPosteLabel_detailsPostePK_identifiant}"/>
                    <h:outputText value="#{detailsPosteController.selected.detailsPostePK.identifiant}" title="#{bundle.ViewDetailsPosteTitle_detailsPostePK_identifiant}"/>
                    <h:outputText value="#{bundle.ViewDetailsPosteLabel_dateDebut}"/>
                    <h:outputText value="#{detailsPosteController.selected.dateDebut}" title="#{bundle.ViewDetailsPosteTitle_dateDebut}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewDetailsPosteLabel_dateFin}"/>
                    <h:outputText value="#{detailsPosteController.selected.dateFin}" title="#{bundle.ViewDetailsPosteTitle_dateFin}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewDetailsPosteLabel_coutHeureSup}"/>
                    <h:outputText value="#{detailsPosteController.selected.coutHeureSup}" title="#{bundle.ViewDetailsPosteTitle_coutHeureSup}"/>
                    <h:outputText value="#{bundle.ViewDetailsPosteLabel_salaire}"/>
                    <h:outputText value="#{detailsPosteController.selected.salaire}" title="#{bundle.ViewDetailsPosteTitle_salaire}"/>
                    <h:outputText value="#{bundle.ViewDetailsPosteLabel_congeConsomme}"/>
                    <h:outputText value="#{detailsPosteController.selected.congeConsomme}" title="#{bundle.ViewDetailsPosteTitle_congeConsomme}"/>
                    <h:outputText value="#{bundle.ViewDetailsPosteLabel_poste1}"/>
                    <h:outputText value="#{detailsPosteController.selected.poste1}" title="#{bundle.ViewDetailsPosteTitle_poste1}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{detailsPosteController.destroyAndView}" value="#{bundle.ViewDetailsPosteDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewDetailsPosteEditLink}"/>
                <br />
                <h:commandLink action="#{detailsPosteController.prepareCreate}" value="#{bundle.ViewDetailsPosteCreateLink}" />
                <br />
                <h:commandLink action="#{detailsPosteController.prepareList}" value="#{bundle.ViewDetailsPosteShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewDetailsPosteIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
