<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditContratTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditContratLabel_typeContrat}" for="typeContrat" />
                    <h:inputText id="typeContrat" value="#{contratController.selected.typeContrat}" title="#{bundle.EditContratTitle_typeContrat}" required="true" requiredMessage="#{bundle.EditContratRequiredMessage_typeContrat}"/>
                    <h:outputLabel value="#{bundle.EditContratLabel_debut}" for="debut" />
                    <h:inputText id="debut" value="#{contratController.selected.debut}" title="#{bundle.EditContratTitle_debut}" required="true" requiredMessage="#{bundle.EditContratRequiredMessage_debut}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditContratLabel_fin}" for="fin" />
                    <h:inputText id="fin" value="#{contratController.selected.fin}" title="#{bundle.EditContratTitle_fin}" required="true" requiredMessage="#{bundle.EditContratRequiredMessage_fin}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                </h:panelGrid>
                <h:commandLink action="#{contratController.update}" value="#{bundle.EditContratSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditContratViewLink}"/>
                <br />
                <h:commandLink action="#{contratController.prepareList}" value="#{bundle.EditContratShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditContratIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
