<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListContratTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListContratEmpty}" rendered="#{contratController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{contratController.items.rowCount > 0}">
                    <h:outputText value="#{contratController.pagination.pageFirstItem + 1}..#{contratController.pagination.pageLastItem + 1}/#{contratController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{contratController.previous}" value="#{bundle.Previous} #{contratController.pagination.pageSize}" rendered="#{contratController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{contratController.next}" value="#{bundle.Next} #{contratController.pagination.pageSize}" rendered="#{contratController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{contratController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListContratTitle_typeContrat}"/>
                            </f:facet>
                            <h:outputText value="#{item.typeContrat}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListContratTitle_debut}"/>
                            </f:facet>
                            <h:outputText value="#{item.debut}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListContratTitle_fin}"/>
                            </f:facet>
                            <h:outputText value="#{item.fin}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{contratController.prepareView}" value="#{bundle.ListContratViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{contratController.prepareEdit}" value="#{bundle.ListContratEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{contratController.destroy}" value="#{bundle.ListContratDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{contratController.prepareCreate}" value="#{bundle.ListContratCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListContratIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
