<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>Startmin - Bootstrap Admin Theme</title>
        <!-- Bootstrap Core CSS -->
        <link href="../admin/css/bootstrap.min.css" rel="stylesheet" />

        <!-- MetisMenu CSS -->
        <link href="../admin/css/metisMenu.min.css" rel="stylesheet" />

        <!-- Timeline CSS -->
        <link href="../admin/css/timeline.css" rel="stylesheet" />

        <!-- Custom CSS -->
        <link href="../admin/css/startmin.css" rel="stylesheet" />

        <!-- Morris Charts CSS -->
        <link href="../admin/css/morris.css" rel="stylesheet" />

        <!-- Custom Fonts -->
        <link href="../admin/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </h:head>
    <body style="background-color:#050505">

        <div id="wrapper" style="background-color:#050505">

            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="navbar-header" style=" width:250px; background-color:#050505;">
                    <a class="navbar-brand" href="index1.xhtml"><img style="  width:150px" src="../../img/logoprojetrh3.png"/></a>
                </div>

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

               

                <ul class="nav navbar-right navbar-top-links">
                    <li class="dropdown navbar-inverse">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-bell fa-fw"></i> <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu dropdown-alerts">
                            <li>
                                <a href="#">
                                    <div>
                                        <i class="fa fa-comment fa-fw"></i> New Comment
                                        <span class="pull-right text-muted small">4 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div>
                                        <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                        <span class="pull-right text-muted small">12 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div>
                                        <i class="fa fa-envelope fa-fw"></i> Message Sent
                                        <span class="pull-right text-muted small">4 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div>
                                        <i class="fa fa-tasks fa-fw"></i> New Task
                                        <span class="pull-right text-muted small">4 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div>
                                        <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                        <span class="pull-right text-muted small">4 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a class="text-center" href="#">
                                    <strong>See All Alerts</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i> secondtruth <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                            </li>
                            <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- /.navbar-top-links -->

                <div class="navbar-default sidebar" role="navigation" style="background-color:#050505">
                    <div class="sidebar-nav navbar-collapse" style="background-color:#050505">
                        <ul class="nav" id="side-menu" style="background-color:#050505">
                            <li class="sidebar-search" style="background-color:#050505">
                                <div class="input-group custom-search-form" style="background-color:#050505">
                                    <input type="text" class="form-control" placeholder="Search..." />
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                </span>
                                </div>
                                <!-- /input-group -->
                            </li>
                            <li>
                                <a href="index.html" class="active"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                            </li>
                            <li>
                                <a href="employe.xhtml"><i class="fa fa-wrench fa-fw"></i> Gestion Employe</a>
                                 <!-- /.nav-second-level -->
                            </li>
                            <li>
                                <a href="banque.xhtml"><i class="fa fa-files-o fa-fw"></i> Gestion Banque</a>
                            </li>
                            <li>
                                <a href="superviseur.xhtml"><i class="fa fa-edit fa-fw"></i>Gestion Superviseur</a>
                            </li>
                            <li>
                                <a href="departement.xhtml"><i class="fa fa-edit fa-fw"></i> Gestion Departement</a>
                            </li>
                            <li>
                                <a href="conge.xhtml"><i class="fa fa-files-o fa-fw"></i>Gestion Conge</a>
                                <!-- /.nav-second-level -->
                            </li>
                            <li>
                                <a href="note.xhtml"><i class="fa fa-wrench fa-fw"></i>Gestion notes service</a>
                                <!-- /.nav-second-level -->
                            </li>
                        
                            
                        </ul>
                    </div>
                </div>
            </nav>

            <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Dashboard</h1>
                        <ui:include src="index.xhtml"/>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->

                <!-- /.row -->

                <!-- /.row -->
            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->

        <!-- jQuery -->
        <script src="../admin/js/jquery.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="../admin/js/bootstrap.min.js"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="../admin/js/metisMenu.min.js"></script>

        <!-- Morris Charts JavaScript -->
        <script src="../admin/js/raphael.min.js"></script>
        <script src="../admin/js/morris.min.js"></script>
        <script src="../admin/js/morris-data.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="../admin/js/startmin.js"></script>

    </body>
</html>
